<p-toolbar>
  <div class="p-toolbar-group-start">
    <i class="pi pi-youtube mr-2" style="color: red; font-size: 60px"></i>
  </div>

  <div *ngIf="searchStringService.authService.isAuth()" class="p-toolbar-group-center">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input
        (keydown.enter)="searchStringService.showSearchResults()"
        [(ngModel)]="searchStringService.searchInputHeader"
        pInputText
        placeholder="Search"
      />
    </span>

    <app-custom-button
      (click)="searchStringService.showSearchResults()"
      [config]="{ raised: true, severity: 'primary' }"
      class="mr-2"
      >Search</app-custom-button
    >

    <app-custom-button
      (click)="filterService.toggleView()"
      [config]="{ icon: 'pi pi-sliders-v', raised: !filterService.showFilter }"
    />
  </div>

  <div *ngIf="searchStringService.authService.isAuth()" class="p-toolbar-group-end">
    <div
      class="flex items-center gap-2"
    >
      <span class="font-bold text-bluegray-50">User</span>
      <app-custom-button
        [config]="{ raised: true, icon: 'pi pi-user', rounded: true }"
      />
      <app-custom-button
        (click)="searchStringService.authService.logout()"
        [config]="{ icon: 'pi pi-sign-out', raised: true, rounded: true }"
      />
    </div>
  </div>
</p-toolbar>

<app-filter class="fixed z-10 w-full"></app-filter>
