<ng-content>
  <app-card [config]="{ imageUrl: imgDefaultUrl, headerText: title}">
    <app-custom-button [config]="{ raised: true }" class="m-auto"
      >More</app-custom-button
    >
    <p-toolbar>
      <i class="pi pi-eye" style="font-size: 0.8em">{{
        statistics.viewCount
      }}</i>
      <i class="pi pi-comment text-xs" style="font-size: 0.8em">{{
        statistics.commentCount
      }}</i>
      <i class="pi pi-thumbs-down" style="font-size: 0.8em">{{
        statistics.dislikeCount
      }}</i>
      <i class="pi pi-thumbs-up" style="font-size: 0.8em">{{
        statistics.likeCount
      }}</i>
    </p-toolbar>
  </app-card>
  <p [appColoredBorder]="publishedAt"></p>
</ng-content>
