<div class="p-4 flex flex-col gap-4 text-center">
  <h1 class="text-3xl font-bold">Welcome to the YouTube Client App!</h1>

  <p>
    <span>Hello everyone! 👋</span
    ><span>
      I’m excited to share my <span class="text-red-600">first</span> project developed
      <span class="text-red-600">with Angular</span>: the YouTube Client App! This application represents my journey
      into the world of Angular and showcases my efforts in building a modern web app that interacts with the YouTube
      API.</span
    >
  </p>
  <p>Start typing in the search box and the app will try to find you a youtube video.</p>
  <p>Thank you for visiting!</p>
</div>
