<p-fieldset legend="Sign In" class="w-full text-center m-4">
  <form
    class="flex flex-col gap-3"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
  >
    <div>
      <div class="text-center">
        <p-iconField iconPosition="right">
          <p-inputIcon styleClass="pi pi-sign-in" />
          <input
            placeholder="login"
            icon="pi pi-user"
            formControlName="username"
            pInputText
            id="username"
            type="text"
            aria-describedby="username-help"
          />
        </p-iconField>
      </div>
      <div>
        <small
          class="font-extralight"
          *ngIf="loginForm.get('username')?.hasError('required')"
        >
          Please enter a login email
        </small>

        <small
          class="text-red-500"
          *ngIf="loginForm.get('username')?.hasError('email')"
        >
          The login email is invalid.
        </small>

        <small
          class="text-green-500"
          *ngIf="!loginForm.get('username')?.errors"
        >
          The login email is valid.
        </small>
      </div>
    </div>

    <div>
      <div class="text-center">
        <p-password
          [toggleMask]="true"
          placeholder="password"
          formControlName="password"
          [feedback]="false"
        ></p-password>
      </div>
      <small
        class="font-extralight"
        *ngIf="loginForm.get('password')?.hasError('required')"
      >
        Please enter a password
      </small>
      <small
        class="text-green-500"
        *ngIf="
          !loginForm.get('password')?.errors"
      >
        The password is valid.
      </small>
      <small
        class="font-extralight text-red-500"
        *ngIf="loginForm.get('password')?.value != ''"
      >
        {{ loginForm.get('password')?.errors?.['customValidator'] }}
      </small>
    </div>

    <div class="text-center">
      <app-custom-button
        [config]="{ type: 'submit', disabled: !loginForm.valid }"
        class="app-custom-button"
        >Login</app-custom-button
      >
    </div>
  </form>
</p-fieldset>
