<div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
  <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
    <h1 class="title-font font-medium text-3xl text-gray-900">Authorization</h1>
    <p class="leading-relaxed mt-4">Please log in to use yours service.</p>
  </div>
  <div
    class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col w-full mt-10 md:mt-0 text-center"
  >
    <h2 class="text-gray-900 text-lg font-medium title-font mb-5">Sign In</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="text-center">
        <p-iconField iconPosition="right">
          <p-inputIcon styleClass="pi pi-sign-in" />
          <input
            placeholder="login"
            icon="pi pi-user"
            formControlName="username"
            pInputText
            id="username"
            type="text"
          />
        </p-iconField>
      </div>
      <div>
        <p
          class="font-extralight"
          *ngIf="loginForm.get('username')?.hasError('required')"
        >
          Please enter a login email
        </p>
        <p
          class="text-red-500"
          *ngIf="loginForm.get('username')?.hasError('email')"
        >
          The login email is invalid.
        </p>
      </div>

      <div class="text-center">
        <p-password
          [toggleMask]="true"
          placeholder="password"
          formControlName="password"
          [feedback]="false"
        ></p-password>
      </div>
      <p
        class="font-extralight"
        *ngIf="loginForm.get('password')?.hasError('required')"
      >
        Please enter a password
      </p>
      <p class="font-extralight"
        *ngIf="loginForm.get('password')?.errors?.['PasswordNotStrongEnough']"
      >
        {{ loginForm.get('password')?.errors?.['PasswordNotStrongEnough'] }}
      </p>
      <div class="text-center">
        <app-custom-button
          [config]="{ type: 'submit' }"
          class="app-custom-button"
          >Login</app-custom-button
        >
      </div>
    </form>
  </div>
</div>
