<p-toolbar class="relative z-10">
  <div class="p-toolbar-group-start"></div>

  <div class="p-toolbar-group-center">
    <i class="pi pi-youtube mr-2" style="color: red; font-size: 60px"></i>
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input [(ngModel)]="searchInputValue" pInputText placeholder="Search" />
    </span>

    <app-custom-button
      (click)="showSearchResults()"
      [config]="{ raised: true, severity: 'primary' }"
      class="mr-2"
      >Search</app-custom-button
    >

    <app-custom-button
      (click)="toggleFilterView()"
      [config]="{ icon: 'pi pi-sliders-v', raised: !isFilterShow }"
    />
  </div>

  <div class="p-toolbar-group-end">
    <div class="flex items-center gap-2">
      <span class="font-bold text-bluegray-50"> Your Name </span>
      <app-custom-button
        [config]="{ raised: true, icon: 'pi pi-user', rounded: true }"
      />
    </div>
  </div>
</p-toolbar>

<app-filter class="fixed z5 w-full"></app-filter>
