<p-fieldset
  styleClass="w-5/6 m-auto"
  [legend]="detalisService.datalisData.channelTitle"
>
  <p>{{ id }}: detalis works!</p>
  <p-splitter [panelSizes]="[55, 45]" styleClass="mb-5 min-h-fit">
    <ng-template pTemplate>
      <div class="col flex align-items-center justify-content-center">
        <app-custom-button
          [config]="{
            raised: true,
            icon: 'pi pi-angle-double-left'
          }"
          (click)="handleButtonBack()"
        />
      </div>
    </ng-template>
    <ng-template pTemplate>
      <div
        [appColoredBorder]="detalisService.datalisData.publishedAt"
        class="col flex align-items-center justify-content-center w-full"
      >
        <app-statistics [statistics]="detalisService.datalisData.statistics"></app-statistics>
      </div>
    </ng-template>
  </p-splitter>
</p-fieldset>
