<section class="p-4">
  <app-custom-button
    [config]="{
        raised: true,
        icon: 'pi pi-angle-double-left',
        label: isAuth(),
      }"
    [routerLink]="['']" />
  <p class="m-0 font-extrabold text-center items-center text-5xl text-zinc-700">
    <i class="pi pi-spin pi-globe" style="font-size: 3rem"></i>
    Not Found 404
  </p>
  <p class="my-8 text-center items-center text-zinc-700">
    Sorry, but the page you are looking for does not exist. It may have been deleted or you may have entered the wrong
    address.
  </p>
  <ul class="text-center text-zinc-700">
    <li>Check that the URL you entered is correct.</li>
    <li>Go back to the previous page.</li>
  </ul>
</section>
