<form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
  <div class="text-center flex flex-col gap-3">
    <div class="text-center flex flex-col">
      <p-iconField iconPosition="right">
        <p-inputIcon styleClass="pi pi-pencil" />
        <input
          placeholder="Title"
          formControlName="title"
          pInputText
          id="create-card-title"
          type="text"
          aria-describedby="title"
        />
      </p-iconField>
      <small
        class="font-extralight"
        *ngIf="
          creationCardFormService.adminForm.get('title')?.hasError('required')
        "
      >
        Please enter a title
      </small>
      <small
        class="font-extralight text-red-500"
        *ngIf="
          creationCardFormService.adminForm.get('title')?.hasError('minlength')
        "
      >
        The title is too short
      </small>
      <small
        class="font-extralight text-red-500"
        *ngIf="
          creationCardFormService.adminForm.get('title')?.hasError('maxlength')
        "
      >
        The title is too long
      </small>
      <small
        class="text-green-500"
        *ngIf="!creationCardFormService.adminForm.get('title')?.errors"
      >
        The title is valid.
      </small>
    </div>

    <div class="text-center flex flex-col">
      <p-iconField iconPosition="right">
        <p-inputIcon styleClass="pi pi-link" />
        <input
          placeholder="Link to Image"
          formControlName="linkImg"
          pInputText
          id="linkImg"
          type="text"
          aria-describedby="create-card-link-img"
        />
      </p-iconField>
      <small
        class="font-extralight"
        *ngIf="
          creationCardFormService.adminForm.get('linkImg')?.hasError('required')
        "
      >
        Please enter a link to image
      </small>
      <small
        class="text-green-500"
        *ngIf="!creationCardFormService.adminForm.get('linkImg')?.errors"
      >
        The link to image is valid.
      </small>
    </div>
    <div class="text-center flex flex-col">
      <p-iconField iconPosition="right">
        <p-inputIcon styleClass="pi pi-link" />
        <input
          placeholder="Link to Video"
          formControlName="linkVideo"
          pInputText
          id="linkVideo"
          type="text"
          aria-describedby="create-card-link-video"
        />
      </p-iconField>
      <small
        class="font-extralight"
        *ngIf="
          creationCardFormService.adminForm
            .get('linkVideo')
            ?.hasError('required')
        "
      >
        Please enter a link to video
      </small>
      <small
        class="text-green-500"
        *ngIf="!creationCardFormService.adminForm.get('linkVideo')?.errors"
      >
        The link to video is valid.
      </small>
    </div>
    <div class="text-center flex flex-col">
      <p-calendar
        formControlName="creationDate"
        placeholder="Date(not future)"
        [showIcon]="true"
        [iconDisplay]="'input'"
      />
      <small
        class="font-extralight"
        *ngIf="
          creationCardFormService.adminForm
            .get('creationDate')
            ?.hasError('required')
        "
      >
        Please enter a creation date
      </small>
      <small
        class="font-extralight text-red-500"
        *ngIf="
          creationCardFormService.adminForm.get('creationDate')?.value != ''
        "
      >
        {{ creationCardFormService.adminForm.get('creationDate')?.errors?.['customValidator'] }}
      </small>
      <small
        class="text-green-500"
        *ngIf="!creationCardFormService.adminForm.get('creationDate')?.errors"
      >
        The creation date is valid.
      </small>
    </div>

    <div class="text-center flex flex-col">
      <textarea
        id="description"
        placeholder="Description(up to 255 symbols)"
        pInputTextarea
        formControlName="description"
      >
      </textarea>
      <small
        class="text-green-500"
        *ngIf="!creationCardFormService.adminForm.get('description')?.errors"
      >
        Description is valid
      </small>
      <small
        class="font-extralight text-red-500"
        *ngIf="
          creationCardFormService.adminForm
            .get('description')
            ?.hasError('maxlength')
        "
      >
        The description is too long
      </small>
    </div>

    <p-fieldset legend="Tags" class="text-center m-4">
      <form
        [formGroup]="creationCardFormService.adminForm"
        formArrayName="tags"
      >
        <div *ngFor="let tag of tags.controls; let tagIndex = index">
          <p-chips
            [formControlName]="tagIndex"
            placeholder="Maximum 5 tags"
            [max]="5"
          ></p-chips>
        </div>
        <small class="text-red-500" *ngIf="tags.invalid && tags.touched">
          Tags is invalid
        </small>
        <small class="text-green-500" *ngIf="tags.valid"> Tags is valid </small>
        <small class="font-extralight" *ngIf="!tags.dirty">
          Just type and hit Enter
        </small>
      </form>
    </p-fieldset>

    <div class="text-center flex justify-center gap-4">
      <app-custom-button
        class="app-custom-button"
        [config]="{
          raised: creationCardFormService.adminForm.valid,
          type: 'submit',
          disabled: !creationCardFormService.adminForm.valid
        }"
        >Create Card</app-custom-button
      >
      <app-custom-button
        class="app-custom-button"
        [config]="{ raised: true, label: 'Reset Card' }"
        (click)="onReset()"
      ></app-custom-button>
    </div>
  </div>
</form>
